@import '../../globals.css';

:root{
    --box-height: 8vh;
    --box-witdh: 12vw;
}

/*Options bar*/

.options {
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}

.options input.box {
    padding: 5px 20px !important;
    width: 30vw;
    height: var(--box-height);
}

.options select.box {
    width: var(--box-witdh);
    height: var(--box-height);
}

.options select.box option{
    background-color: var(--bg-white);
}

.options .box{
    padding: 5px 10px;
    background-color: var(--bg-white);
    border-radius: 10px;
    border: 1px solid var(--shadow-border);
    box-shadow: 1px 1px 5px var(--shadow-border);
}

@media(max-width: 720px){    
    .options {
        display: flex;
        margin: 50px;
        flex-direction: column;
    }

    .options input.box {
        padding: 5px 20px !important;
        width: 80vw;
        height: var(--box-height);
        margin-bottom: 20px;
    }
    
    .options select.box {
        width: 50vw;
        height: var(--box-height);
    }
}

/*Flag*/
.flag-container {
    display: flex;
    width: 90%;
    margin: 50px auto;
    min-height: 500px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flag-container .flag{
    box-shadow: 1px 1px 5px var(--shadow-border);
    margin: 0 20px 100px;
    border-radius:5px;
    width: 250px;
    min-height: 250px;
}

.flag-container .flag img{
    width: 100%;
    height: 150px;
}

.flag-container .flag .info {
    padding: 20px;
    align-self: center;
}

.flag-container .flag .info h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.flag-container .flag .info p{
    margin-bottom: 10px;
}

