.flag-container {
    display: flex;
    width: 90%;
    margin: 50px auto;
    min-height: 500px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flag-container .flag{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
    margin: 0 20px 100px;
    border-radius:5px;
    width: 250px;
    min-height: 250px;
}

.flag-container .flag img{
    width: 100%;
    height: 150px;
}

.flag-container .flag .info {
    padding: 20px;
    align-self: center;
}

.flag-container .flag .info h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.flag-container .flag .info p{
    margin-bottom: 10px;
}
