@import '../../globals.css';

header {
    padding: 30px 100px;
    background: var(--bg-white);
    border-bottom: 3px solid var(--shadow-border);
}

header h1 {
    background: var(--bg-white);
    color: var(--color-text);
}