.dark{
    --bg-white: #2B3743;
    --bg-light: rgb(10,10,10);
    --color-text: white;
    --bg: #202D36;
    --shadow-border: rgba(117, 117, 117, 0.158);
}

.light {
    --bg-white: white;
    --bg-light: #F0F0F0;
    --bg: #FAFAFA;
    --color-text: black;
    --shadow-border:  rgba(117, 117, 117, 0.158);
}